
server {
    listen 80;
    server_name {{getv "DOMAINS"}};

    location /.well-known/acme-challenge {
        alias {{getv "WEBROOT_AUTH_PATH"}}.well-known/acme-challenge;
        add_header Content-Type application/jose+json;
    }
}
